@font-face {
  font-family: 'Wooper'; /* Name the font whatever you like */
  src: url('Wooper.ttf') format('truetype'); /* Replace 'path/to/your/font-file.ttf' with the actual path to your .ttf file */
  /* You can also include additional font formats (e.g., woff, woff2) for better browser support */
}


.container {
    /* width: 95%;
    margin: auto;
    margin-top: 16px; 
    padding: 12px; 
    border-radius: 8px;
    color: rgb(29, 5, 5);
    background-color: navy;
    */
    width: 1400px;
    height: 1238px;
    flex-shrink: 0;
    padding: 50px;


  }

  .artists {
    align-items: center;
    width: 100%;
  }


.title {
    color: #FFF;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 550%;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
  }


  .title1 {
    background: linear-gradient(90deg, #A968E7 0%, #FD479A 100%);
    background-clip: text;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 550%;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
  }

  
  .homeimg {
    display: flex;
    width: 1280px;
 
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    max-width: calc(100% - 30px);
    margin: auto;
  }

  .section2 {
    align-items: center;
    margin-top: -10%;
  }


  .img2 {

    margin-top: -40%;
    margin-left: 60%;
    width: 35%;
    height: auto;
    max-width: calc(100% - 30px);


  }
  
  .title3 {
    width: 100%;
    color: #FFF;
    font-family: Wooper;
    font-size: 5vw; /* Adjust the value based on your preference */
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: left;
    text-align: center;
    line-height: 0.5; /* Adjust the line-height based on your preference */
    margin-left: 4%; 
    margin-top: 5vw;
  }

  @media screen and (max-width: 400px) {
    .title3 {
      font-size: 2vw; /* Reduce the font size for smaller screens */
      line-height: 20px; /* You can adjust this value to control the line height */
    }
  }
  

.titlecontain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.buttonholder {
    margin-left: 10%;
    margin-top: 25%;
    display: inline-flex;
    padding: 0.1vw 2.5vw;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(90deg, #FCEE62 0%, #EA3CF1 100%);
}

.buttonlabel {
    color: #000;
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 70%; /* 120% */
}

.some-stage-helps {
  color: #a1a1a1;
  font-family: 'Be Vietnam Pro';
  font-size: 2vw;
  font-weight: 600;
  line-height: 2.5vw;
  align-items: left;
  top: 627px;
  width: 50%;
  display: flex;
  margin-left: 4%;
}

.seperator {
  margin-top: -200px;
  width: 98%;
  height: auto;
  max-width: calc(100% - 30px);

}

.section3im1 {
  
  font-family: Wooper;
  color: #FFF;
  font-size: 6vw;
  font-weight: 400;
  margin-left: 30%;
  text-align: right;
  margin-top: 4%;
  width: 60%;
  height: auto;
  max-width: calc(100% - 30px);
  
}

.roadmap {
  margin-right: 70%;
  margin-left: 10%;
  margin-top: -10%;
  width: 10%;
  height: auto;
  max-width: calc(100% - 60px) ;

}

.addbutton {
  color: #FFF !important;
  width: 29%;
  
  
}

.firststageplan {
  color: #FFF;
  font-family: Gochi Hand;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 7%; /* 125% */
  margin-left: 4%;
}

.firstpart {
  color: #A1A1A1;
  font-family: Be Vietnam Pro;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw; /* 140% */
  width: 45vw; 
  margin-left: 4%;
  margin-top: 0%;
  margin-bottom: -20%;
}

.moneyicon {
  margin-left: 60%;
  margin-top: -5%;
  width: 25%;
  height: auto;
 

}

.rightvector {
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: -3vw;
  width: 80%
}

.container2 {
  display: flex;
  align-items: center;

  
}

.Frame {
  margin-left: 9%;
  height: 15%;
  width: 9%; 
  margin-bottom: 10%;
  max-height: calc(100% - 80px) ;
}

.stageplan2 {
  color: #FFF;
  font-family: Gochi Hand;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  margin-left: 45%;
  margin-top: -25%;
  width: 40vw;
}

.addbutton2 {
  color: #FFF !important;
  width: 5%;
}

.secondpart {
  color: #A1A1A1;
  font-family: Be Vietnam Pro;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw; /* 140% */
  width: 45vw; 
  margin-left: -30vw;

  margin-top: 0.5%;

}
.stage2con {
  margin-top: -27%;
  margin-left: 80%;
  
}

.leftvector {
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: -1vw;
  width: 80%
}

.container3 {
  display: flex;
  align-items: center;
  margin-top: -1%;
}

.Frame1 {
  margin-left: 75%;
  height: 20%;
  width: 12%; 
  max-height: calc(100% - 80px);
  margin-top: -4%;
  
}

.stageplan3 {
  color: #FFF;
  font-family: Gochi Hand;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 7%; /* 125% */
  margin-left: -80%;
  margin-top: -5vw;
}
.stage3con {
  margin-top: -12%;
}

.addbutton3 {
  color: #FFF !important;
  width: 25%;
}
.thirdpart {
  color: #A1A1A1;
  font-family: Be Vietnam Pro;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw; /* 140% */
  width: 45vw; 
  margin-left: 4%;
  margin-top: 1%;
}

.moneyicon2 {
  width: 20vw;
  transform: rotate(20deg); 
}

.stageplan4 {
  color: #FFF;
  font-family: Gochi Hand;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  margin-left: 60%;
  margin-top: -15%;

}

.stage4con {
 
  margin-top: -4%;
  margin-left: 80%;
}

.addbutton4 {
  color: #FFF !important;
  width: 10%;
}

.stage5con {
  margin-top: -15%;
}
.fourthpart {
  color: #A1A1A1;
  font-family: Be Vietnam Pro;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vw; /* 140% */
  width: 45vw; 
  margin-left: -35vw;
  margin-top: 1%;
}

.stageplan5 {
  color: #FFF;
  font-family: Gochi Hand;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 7%; /* 125% */
  margin-left: -82%;
  margin-top: -10%;
}


.Frame2 {
  margin-left: 80%;
  height: 15%;
  width: 9%; 
  max-height: calc(100% - 80px) ;
  margin-top: -5%;
}

.readmore {
  color: #E2DFDF;
  text-align: center;
  font-family: Wooper;
  font-size: 5vw;;
  font-weight: 400;
  line-height: 125%; /* 125% */
  
  
  }

  .seperator1 {
    margin-top: 20%;
    width: 98%;
    height: auto;
    max-width: calc(100% - 30px);
  
  }

  /* carousel.css */

/* Style for the carousel container */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40%;
}

/* Style for each carousel item */
.carousel-item {
  position: relative;
  margin: 10px;
}

/* Style for the black rectangle frame */
.carousel-image {
  width: 100%;
  border: 0.5vw solid rgb(236, 177, 99);
  border-radius: 2.9vw;
}

/* Style for the caption at the bottom of the image */
.carousel-caption {
  /*
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transform: translateX(-50%);
  background-color: rgb(189, 170, 0);
  */ 
  color: white;
  font-family: Be Vietnam Pro;
  font-weight: 600;
  font-size: 2vw;
  text-align: left;
  color: #A1A1A1;
}
.carousel-text {
  color:white; 
  font-size: 3vw;
  font-family: Gochi Hand;
  font-weight: 400;
}

.carousel-date {
  color: #A1A1A1;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}


.lastsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30%;
}
.mission {
  color: #E2DFDF;
  text-align: center;
  font-family: Wooper;
  font-size: 6vw;
  font-weight: 400;
  line-height: 3vw; /* 125% */
  margin-top: 15vw;
}

.mission-sub {
color: #A1A1A1;
text-align: center;
font-family: Be Vietnam Pro;
font-size: 2vw;
justify-content: center;
font-style: normal;
font-weight: 600;
line-height: 140%; 
padding: 1% 20%;
margin-top: -2%;
}

@media screen and (max-width: 420px) {
  .mission-sub {
    font-size: 0.3vw; /* Reduce the font size to 4vw on smaller screens */
    line-height: 0.5; /* Adjust the line height for better spacing between lines */
  }
}

.join-button {
  margin-top: 1vw; /* Add some spacing between the text and the button */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  font-family: Gochi Hand;
  font-size: 2.5vw;
  font-weight: 600;
  cursor: pointer;
  
}


.layer2 {
  position: absolute; 
  top: 60%; /* Adjust the vertical position as needed */
  left: 50%; /* Adjust the horizontal position as needed */
  transform: translate(-50%, -50%); 
  width: 45%;
}


.layer1 {
  width: 100%;
  height: auto;
  border-radius: 30px;
  
}
.page-end {
  position: relative; /* Make the container a reference for positioning the top image */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Adjust the width as needed */
  height: 100%;
}

.FaCircle {
  color: rgba(103, 250, 250, 0.938);
  width: 6%;
  height: 5%;
  margin-right: 60%;
  margin-top: -20%;
  position: relative;
}

.star {
  width: 4%;
  height: 4%;
  color: #EA3CF1;
  margin-left: 90%;
  margin-bottom: 40%;
  margin-top: -10%;

}

.music {
  margin-top: -10%;
  margin-bottom: 8%;
  width: 3%;
  height: 3%;
  
  color: #FD479A;
}

.music3 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -10%;
  margin-bottom: 7%;
  color: #FCEE62;
}

.music2 {
  width: 4%;
  height: 4%;
  color: #88e998;
  margin-left: 10%;
  margin-bottom: 13%;
  margin-top: -60%;
  
}

.circle3 {
  width: 3%;
  height: 5%;
  color: #A968E7;
  margin-left: 60%;
  margin-top: -40%; 
  margin-bottom: 20%;
  
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.star4 {
  color: #FCEE62;
  margin-left: 30%;
  margin-bottom: 10%;
  margin-top: 5%;
  width: 3vw;
  height: auto;
  
}

.music4 {
 color: #ff4e9ecc;
  margin-bottom: 20%;
 
  width: 5vw;
  height: 3vw;
  position: absolute; /* Use absolute positioning for the icon */
  right: 20%; /* Position the icon to the right edge */
  top: 60%; /* Position the icon vertically in the middle */
  left: 80%;
}

.FaCircle1 {
  color: rgba(103, 250, 250, 0.938);
  width: 6%;
  height: 5%;
  
  margin-left: 8%;
  margin-top: -20%;
  position: relative;
}

.music5 {
  color: #88e998;
  width: 7%;
  height: 10%;
}
.FaCircle3 {
  color: rgba(147, 103, 250, 0.938);
  width: 3%;
  height: 5%;
  
  margin-left: -15%;
  margin-top: -20%;
  position: relative;
}



.s1 {
  color: #88e998;
  width: 7%;
  height: 10%;
}

c1 {
  color: #FCEE62;

  width: 3vw;
  height: auto;
}

.m1 {
  color: #FCEE62;
  margin-left: 8%;
  margin-bottom: 30%;
  margin-top: 5%;
  width: 4%;
  height: auto;
}

.c2 {
  color: #fc6290;
  margin-left: 20%;
  margin-bottom: 8%;
  margin-top: 0%;
  width: 3vw;
  height: auto;
}

.s2 {
  color: #62cbfc;
  margin-left: 25%;
  margin-bottom: 10%;
  margin-top: 5%;
  width: 3vw;
  height: auto;
}
.m2 {
  color: #62fc88;
  margin-left: 4%;
  margin-bottom: 10%;
  margin-top: 20%;
  width: 6%;
  height: auto;
}
