.containerf {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: none;
    margin-top: 10%;
}
  
.footer-middle {
    align-items: center;
    position: relative;
}  

.logo1 {
    width: 30vw;
    height: auto;   
    position: relative;
}

.footer-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    font-size: 2vw;    
}

.footbutton {
    margin-top: 1vw;
    margin-left: 32%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1vw 1vw;
    border: none;
    border-radius: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
}

.footer-menu {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: -10%;
    padding: 3vw;    
}
  
.footer-menu li {
    margin-right: 10px;
    color: white;
    font-family: Gochi Hand;
    font-size: 40px;
    font-weight: 400;
}
  
.footer-menu li::after {
    content: ''; 
    margin-right: 8px;
    margin-left: 8px;
    color: white;
}

.footer-menu li:first-child::before {
    content: '';
}

.footer-menu li:last-child::after {
    content: '';
}

.yt1 {
    width: 25%;
    height: auto;
    cursor: pointer;  
}

.ig1 {
    width: 35%;
    height: auto; 
    cursor: pointer; 
}

.tw1 {
    width: 20%;
    height: auto; 
    cursor: pointer; 
}
  
@media (max-width: 1380px) {
    .footer-menu li {
      	font-size: 36px;
    }
}

@media (max-width: 1280px) {
    .footer-menu li {
      	font-size: 32px;
    }
}

@media (max-width: 1080px) {
    .footer-menu li {
      	font-size: 28px;
    }
}

@media (max-width: 992px) {
    .footer-menu li {
      	font-size: 26px;
    }
}

@media (max-width: 768px) {
    .footer-menu li {
      	font-size: 24px;
    }
}

@media (max-width: 640px) {
    .footer-menu li {
      	font-size: 20px;
    }
}

@media (max-width : 420px) {
    .footer-menu li {
      	margin-right: 0px;
    }
}
