.containerf {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: none;
    margin-top: 10%;
  }
  
  .footer-middle {
    font-size: 4vw;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 900;
    text-shadow: 
      -0.2vw -0.2vw 0 rgb(0, 0, 0),
      0.2vw -0.2vw 0 rgb(0, 0, 0),
      -0.2vw 0.2vw 0 black,
      0.2vw 0.2vw 0 black;
  }
  
  .footer-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    font-size: 2vw;
    
  }

  .footbutton {
    margin-top: 1vw;
    margin-left: 32%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1vw 1vw;
    border: none;
    border-radius: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
  }

.footer-menu {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 2%;
    padding: 3vw;
    
  }
  
  .footer-menu li {
    margin-right: 10px; /* Adjust the spacing between the tabs */
    color: white; /* Set the text color of the tabs to white */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5vw;
  }