nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border: none;

  }
  
  .nav-left {
    display: flex;
    align-items: center;
    text-align: left;
    
  }
  
  .nav-left li {
    margin-right: 10px; /* Adjust the spacing between the tabs */
    color: white; /* Set the text color of the tabs to white */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5vw;
  }
  
  .nav-middle {
    flex: 1; /* Take up remaining space in the middle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15vw;
    text-align: center;
    font-size: 2vw;
    color: white; /* Set the text color of "Some Stage" to white */
    font-family: 'Jost', sans-serif;
    font-weight: 900;
    text-shadow: 
    -0.2vw -0.2vw 0 rgb(0, 0, 0), /* Top left (convert 1px to vw) */
    0.2vw -0.2vw 0 rgb(0, 0, 0),  /* Top right (convert 1px to vw) */
    -0.2vw 0.2vw 0 black,  /* Bottom left (convert 1px to vw) */
    0.2vw 0.2vw 0 black;

  }
  
  .nav-right {
    text-align: right;
  
  }
  
  button {
    background-color: white;
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-radius: 10px;
    font-size: 1.5vw;
    padding: 6px 14px; /* Adjust the padding as needed */
    border: none; /* Remove the button outline */
 /* Adjust the margin to align the button with the text */

  }
  